ts-project-accounts-toolbar

.ts-project-accounts__account-list
  ts-listview(
    items="$ctrl.accounts"
  )
    ts-listitem(
      icon="{{$parent.item.img_xs}}",
      title="{{$parent.item.name}}",
      subtitle="{{$parent.item.object_type}}"
    )

.ts-project-accounts__empty-state(
  ng-if="!$ctrl.accounts"
)
  ts-empty-state(
    title="You have no attached accounts yet",
    subtitle="Please add new account"
  )
    ts-button(
      title="Add your first account",
      ng-click="$ctrl.onAccountsManagerOpen()"
    )
