ts-toolbar
  .ts-toolbar__group
    .ts-toolbar__item
      ts-button.round(
        svg="icon-close",
        ng-click="$ctrl.onProjectAccountsClose()")
    .ts-toolbar__item
      .ts-toolbar__title Project Accounts

  .ts-toolbar__group
    .ts-toolbar__item
      ts-button.round(
        svg="icon-add",
        ng-click="$ctrl.onAccountsManagerOpen()")
    .ts-toolbar__item
      ts-button.round(
        svg="icon-menu-vert",
        ng-click="")
