ts-toolbar
  .ts-toolbar__group
    .ts-toolbar__item
      ts-button.round(
        svg="icon-menu",
        ng-click="")

  .ts-toolbar__group
    .ts-toolbar__item
      ts-button.round(
        svg="icon-add",
        ng-click="")
    .ts-toolbar__item
      ts-button.round(
        svg="icon-close",
        ng-click="")
